nav {background-color: #26659E; padding: .05em 0em;}
nav a {text-decoration: none; color: #FFFFFF;}
nav ul {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; list-style-type: none;}
thead {background-color: #F0F0F0;}
th, td {padding: .5em;}
label {float: left;}

/* classes*/
.link_button {
    display: inline-block;
    background-color: #F0F0F0;
    padding: .25em;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.submit_button {
    background-color: #26659E;
    padding: .1em .5em;
    border: none;
    color: #FFFFFF;
    font-size: 1.25em;
}