<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    </head>

    <body>

        <!-- Nav Bar -->
        <nav>
            <ul>
                <li><a href="/">Inventory</a></li>
                <li><a href="/add-item">Add Item</a></li>
                <li><a href="/overview">Overview</a></li>
            </ul>
        </nav>

        <div class="container">

            <h2>Inventory List</h2>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Current Stock</th>
                        <th>Production Price</th>
                        <th>Selling Price</th>
                        <th>Min Stock</th>
                        <th>Max Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.current_stock }}</td>
                        <td>${{ "{:,.2f}".format(item.production_price) }}</td>
                        <td>${{ "{:,.2f}".format(item.sell_price) }}</td>
                        <td>{{ item.min_stock }}</td>
                        <td>{{ item.max_stock }}</td>
                        <td>
                            <a href="/edit/{{ item.id }}" class = "link_button">Edit</a>
                            <a href="/delete/{{ item.id }}" class = "link_button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </body>
</html>